<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <body>
    <div layout:fragment="content">
      <div>
        <a href="/board/write">작성하기</a>
      </div>
      <table style="border: 1px solid black">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>날짜</th>
          </tr>
        </thead>
        <tbody th:if="${#lists.isEmpty(boards)}">
          <tr>
            <td colspan="3">등록된 게시글이 없습니다.</td>
          </tr>
        </tbody>
        <tbody th:unless="${#lists.isEmpty(boards)}">
          <tr th:each="item : ${boards}">
            <td th:text="${item.id}"></td>
            <td><a th:href="${'/board/' + item.id}" th:text="${item.title}"></a></td>
            <td th:text="${item.updateDt}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
