<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <body>
    <div layout:fragment="content">
      <table style="border: 1px solid black">
        <tr>
          <th>제목</th>
          <td th:text="${board.title}"></td>
        </tr>
        <tr>
          <th>내용</th>
          <td th:text="${board.content}"></td>
        </tr>
      </table>
      <a th:href="${'/board/edit/' + board.id}">수정하기</a>
    </div>
  </body>
</html>
